.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: rgb(255, 255, 255);
}

.pageLayout{
  width: 75%;
  max-width: 1100px;
  min-height: 100%;
  margin: 0px auto;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 20px 0px;
  width: 100%;
}

@media (max-width: 900px){
  .pageLayout{
    width: 95%; 
  }
}