.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: rgb(244, 241, 234);
}

.pageLayout{
  width: 75%;
  max-width: 1300px;
  min-height: 100%;
  margin: 0px auto;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 20px 0px;
  width: 100%;
}
.header h1{
  color: rgb(85, 67,53);
  font-size: 35px;
  font-weight: bold;
}
.header h4{
  color: rgb(158, 138, 127);
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 900px){
  .pageLayout{
    width: 95%; 
  }
}